<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EDIT</h1>
    <form action="/updatepost/<%=post._id%>" method="POST">
        <textarea rows="10" cols="40" name="content"><%=post.content%></textarea>
        <br><br>
        <input type="submit" value="EDIT">
    </form>
</body>
</html>