<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SIGN UP</h1>
    <form action="/create" method="POST">
        <input type="name" name="name" placeholder="enter name">
        <br><br>
        <input type="email" name="email" placeholder="enter email">
        <br><br>
        <input type="password" name="password" placeholder="enter password">
        <br><br>
        <input type="age" name="age" placeholder="enter age">
        <br><br>
        <input type="submit" value="create">
    </form>

</body>
</html>